<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.BoardMapper">
	<insert id="create">
		insert into tbl_board(title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>

	<select id="read" parameterType="int" resultType="BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>

	<update id="update" parameterType="BoardVO">
		update tbl_board set title = #{title}, content = #{content}, writer = #{writer} where bno = #{bno}
	</update>

	<update id="updateViewCnt" parameterType="Map">
		update tbl_board set viewcnt = viewcnt+#{amount} where bno = #{bno}
	</update>

	<delete id="delete" parameterType="int">
		delete from tbl_board where bno = #{bno} 
	</delete>

	<select id="listAll" resultType="BoardVO">
		select * from tbl_board order by bno desc
	</select>
	
	<select id="listCriteria" parameterType="Criteria" resultType="BoardVO">
		select * from tbl_board order by bno desc limit #{pageStart}, #{perPageNum}
	</select>

	<select id="countTotal" resultType="int">
		select count(bno) from tbl_board
	</select>

	<sql id="sqlBySearch">
		<where>
			<choose>
				<when test="searchType == 't'.toString()">
					title like CONCAT('%', #{keyword},'%')
				</when>
				<when test="searchType == 'c'.toString()">
					content like CONCAT('%', #{keyword},'%')
				</when>
				<when test="searchType == 'w'.toString()">
					title like CONCAT('%', #{keyword},'%')
				</when>
				<when test="searchType == 'tc'.toString()">
					title like CONCAT('%', #{keyword},'%') or 
					content like CONCAT('%', #{keyword},'%')
				</when>
				<when test="searchType == 'cw'.toString()">
					content like CONCAT('%', #{keyword},'%') or
					writer like CONCAT('%', #{keyword},'%')
				</when>
				<when test="searchType == 'tcw'.toString()">
					title like CONCAT('%', #{keyword},'%') or
					writer like CONCAT('%', #{keyword},'%') or
					content like CONCAT('%', #{keyword},'%')
				</when>
			</choose>
		</where>
	</sql>

	<select id="listSearch" parameterType="Criteria" resultType="BoardVO">
		select * from tbl_board 
		<include refid="sqlBySearch" />
		order by bno desc limit #{pageStart}, #{perPageNum}
	</select>

	<select id="countTotalBySearch" parameterType="Criteria" resultType="int">
		select count(bno) from tbl_board
		<include refid="sqlBySearch" />
	</select>
	
	<update id="updateReplyCnt" parameterType="Map">
		update tbl_board set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>
</mapper>